<!-- main image -->
<div id="container">
    <div id="main-image">
        <h1 class="is-hidden-mobile">Abby & Greg</h1>
        <h1 class="is-block-mobile is-hidden-tablet">
            Abby & 
            <br/>
            Greg
        </h1>
        <h2>Are getting married</h2>
    </div>
</div> 

<!-- Nav -->
<div id="nav" class="navbar level has-text-centered">
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#ceremony-and-reception">Ceremony &amp; Reception</a>
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#rsvp">RSVP</a>
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#accomodations">Accomodations</a>
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#registry">Registry</a>
</div>
<!-- Hidden Sticky Nav -->
<div id="nav-sticky" class="navbar level has-text-centered is-fixed-top is-hidden">
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#ceremony-and-reception">Ceremony &amp; Reception</a>
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#rsvp">RSVP</a>
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#accomodations">Accomodations</a>
    <a class="navbar-item level-item has-text-white is-size-6-mobile is-size-4" href="#registry">Registry</a>
</div>


<!-- Ceremony and Reception -->
<div class="container is-desktop">
    <h3 id="ceremony-and-reception" class="section has-text-centered is-size-2">Ceremony &amp; Reception</h3>
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered-mobile">
                <div class="content is-medium">
                    <h3>September 15th 2018</h3>
                    <p><a href="http://www.grandviewevents.com/">The Grandview in Poughkeepsie, NY</a></p>
                    <p>176 Rinaldi Boulevard, Poughkeepsie NY, 12601</p>
                    <p></p>
                    <img style="width:320px;border: 10px solid #eee; max-width: 75%;" src="images/ceremony.jpg"/>
                </div>
            </div>
            <div class="column has-text-centered-mobile">
                <div class="content is-medium">
                    <img id="grandview-map-image" style="max-width: 75%;"src="http://maps.googleapis.com/maps/api/staticmap?center=176%20Rinaldi%20Boulevard,%20Poughkeepsie%20NY,%2012601&size=600x600&zoom=15&markers=176%20Rinaldi%20Boulevard,%20Poughkeepsie%20NY,%2012601&key=AIzaSyDJTZa0ttyvxi8tWHetaiVG-wO3udmSY2A" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container is-desktop">
    <h3 id="rsvp" class="section has-text-centered is-size-2">RSVP</h3>
    <div class="section">
    </div>
    </div>
</div>

<div class="columns is-gapless">
    <div class="column">
        <img src="images/Abby+Greg-Engagement-129-resize.jpg"/>
    </div>
    <div class="column">
        <img src="images/Abby+Greg-Engagement-95-resize.jpg"/>
    </div>
</div>


<!-- Accomodations -->
<div class="container is-desktop">
    <h3 id="accomodations" class="section has-text-centered is-size-2">Accomodations</h3>
    <div class="section">
        <div class="columns">
            <div class="column">
                <div class="content is-medium has-text-centered">
                    <img style="border: 10px solid #eee; max-width: 75%;" src="images/holiday-inn.jpg"/>
                </div>
            </div>
            <div class="column has-text-centered-mobile">
                <div class="content is-medium">
                    <h3>The Holiday Inn Express Poughkeepsie</h3>
                    <p>2750 South Rd, Poughkeepsie, NY 12601</p>
                    <p><a href="http://www.hiexpress.com/poughkeepsie">www.hiexpress.com/poughkeepsie</a></p>
                    <p>Use code "KGW" for a discounted rate</p>
                    <p>Free shuttle service will be provided between the reception and the holiday inn</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="columns is-gapless">
    <div class="column">
        <img src="images/Abby+Greg-Engagement-25-resize.jpg"/>
    </div>
    <div class="column">
        <img src="images/Abby+Greg-Engagement-10-resize.jpg"/>
    </div>
</div>


<!-- Registry -->
<div class="container is-desktop">
    <h3 id="registry" class="section has-text-centered is-size-2">Registry</h3>
    <div class="section">
        <div class="columns">
            <div class="column">
                <div class="card registry-card has-background-white">
                    <a style="height:250px" class="is-block has-text-centered" href="http://www.honeyfund.com/wedding/guidaforgood">
                        <img class="image" src="images/honeyfund.png">
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="card registry-card has-background-white">
                    <a style="height:250px" class="is-block has-text-centered" href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=545790387&eventType=Wedding&pwsurl=">
                        <img class="image" src="images/bedbathandbeyond.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="section has-text-centered">
    <p>All photos created & copyrighted by <a href="http://www.keiralemonisphotography.com">Keira Lemonis Photography</a></p>
</footer>